<!-- Introduction -->
<div class="p-3 sm:p-14 flex justify-center text-center">
  <h5 class="uppercase p-2 text-2xl font-extrabold">Introduction</h5>
</div>
<div class="flex flex-col text-lg items-center justify-center leading-7">
  <p class="mb-8">
    Every day, we encounter numerous faces. They appear on the screens of our phones, social media platforms, and in our workplaces, homes,
    trams, and parks. Human faces are such a ubiquitous visual element that we often take how our brains recognize and identify them for
    granted. Cognitive science and neuroscience attempt to elucidate this process and explain how our brains distinguish and tailor faces to
    specific individuals. With technological advancements, we have taught artificial intelligence to recognize and verify human faces.
    Consequently, facial biometric technology has become one of the most prevalent methods for identity verification services today.
  </p>
</div>

<!-- Face Verification -->
<div class="p-3 sm:p-14 flex justify-center text-center">
  <h5 class="uppercase p-2 text-2xl font-extrabold">What is Face Verification</h5>
</div>
<div class="flex flex-col text-lg items-center justify-center leading-7">
  <div class="flex grid-cols-3 justify-center items-center gap-3 mx-auto pb-5">
    <div class="flex-col">
      <img src="/static/imgs/face1.png" class="w-32" />
      <p class="text-xs">Image 1</p>
    </div>
    <div class="flex flex-col justify-center items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
      </svg>
      <div class="uppercase font-bold">same identity?</div>
    </div>
    <div class="flex-col">
      <img src="/static/imgs/face2.png" class="w-32" />
      <p class="text-xs">Image 2</p>
    </div>
  </div>
  <p>The process of face verification typically involves comparing two images and determining wether they are of the same identity.</p>
  <p class="m-5"></p>
</div>

<!-- Use cases -->
<div class="p-3 sm:p-14 flex justify-center text-center">
  <h5 class="uppercase p-2 text-2xl font-extrabold">Use Cases</h5>
</div>
<div class="flex flex-col text-lg items-center justify-center leading-7">
  <p>
    Face verification is often used as a security measure to prevent unauthorized access to systems or services. It is commonly used for
    mobile device authentication, access control for buildings and secure areas, airport passport control, airplane boarding procedures,
    online identity verification, and many more applications. It is considered a highly accurate and secure authentication method, as each
    person's face is unique and challenging to replicate.
  </p>
  <p class="m-5"></p>
</div>

<!-- How does the survey look like? -->
<div class="p-3 sm:p-14 flex justify-center text-center">
  <h5 class="uppercase p-2 text-2xl font-extrabold">How does the survey work?</h5>
</div>
<div class="flex flex-col text-lg items-center justify-center leading-7">
  <p>
    Each survey consists of several questions. The questions are always the same, but the images are different. You have to decide whether
    the two images are of the same person. The images are presented in pairs; you must decide for each pair. You should specify your
    certainty level with a slider in addition to your answer. You can leave the survey anytime by clicking the "Exit" button at the bottom.
    Your current progress is saved, and you can continue later.
  </p>
  <p class="m-5"></p>
</div>

<!-- Sample Question? -->
<div class="p-3 sm:p-14 flex justify-center text-center">
  <h5 class="uppercase p-2 text-2xl font-extrabold">Here is a sample question of the survey</h5>
</div>
<div class="flex flex-col text-lg items-center justify-center leading-7">
  <img src="/static/imgs/sample_question.png" alt="Sample Question" class="sm:w-1/2" />
  <p>
    You need to select the "YES" or "NO" button and then move the slider below to specify your certainty. Then, click
    the "Next" button, and another question will appear. If you completed all the questions, the "Next" button will take you back to the home area. You can leave each survey at any time and continue later.
  </p>
  <p class="m-5"></p>
</div>

<!-- Ready? -->
<div class="p-3 sm:p-14 flex justify-center text-center">
  <h5 class="uppercase p-2 text-2xl font-extrabold">Are you ready?</h5>
</div>
<div class="flex flex-col text-lg items-center justify-center leading-7">
  <p>
    In total there are 5 surveys to complete. The order of completion doesnt matter, but we recommend to start with "Survey 1". Please take your time, make all decisions seriously and answer
    honestly. Please note, that there will be user-specific questions. 
  </p>
  <p class="m-5"></p>
</div>
